#content {
  width: 943px;
  box-sizing: border-box;
  margin: 0px 40px 0px 297px;
  border-top: 1px solid #e0e4e8;
  border-bottom: 1px solid #f0f2f3;
  padding-top: 16px;
  padding-bottom: 16px;

  & article {
    box-sizing: border-box;

    // 정보 1, 2, 3, 4, 6, 날짜
    & .infoBox {
      width: 100%;
      height: 56px;
      display: flex;
      align-items: center;

      & p {
        width: 140px;
        margin-right: 64px;
        font-weight: 500;
      }

      & input {
        color: #333333;
      }
      & input[type="text"] {
        box-sizing: border-box;
        width: 160px;
        height: 34px;
        border: 1px solid #dedede;
        border-radius: 5px;
        outline: none;
        padding-left: 12px;
      }

      & input[type="date"] {
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 300;
        box-sizing: border-box;
        width: 160px;
        height: 34px;
        border: 1px solid #dedede;
        border-radius: 5px;
        outline: none;
        padding-left: 12px;
      }

      & input:focus {
        border: 1px solid #024eee;
        outline: 3px solid #dbe1fd;
      }
      & input[type="text"]:focus {
        color: transparent;
        text-shadow: 0 0 0 #333333;
      }

      // 체크박스 + 텍스트
      & .checkBox {
        margin-right: 32px;
        display: flex;
        align-items: center;

        & input[type="checkbox"] {
          display: none;
        }

        & input[type="checkbox"] + .checkDefault {
          display: inline-block;
          width: 16px;
          height: 16px;
          background: url("../static/check_default.png") no-repeat 100%/16px;
        }

        & input[type="checkbox"]:hover + .checkDefault {
          background: url("../static/check_hover.png") no-repeat 100%/16px;
        }

        & input[type="checkbox"]:checked + .checkDefault {
          background: url("../static/check_checked.png") no-repeat 100%/16px;
        }

        & label {
          margin-left: 8px;
        }
      }
    }

    // 정보5
    & .infoBoxRadio {
      width: 100%;
      height: 86px;
      display: flex;
      align-items: center;

      & p {
        width: 140px;
        margin-right: 64px;
        font-weight: 500;
      }

      // 라디오 버튼 + 선택3 눌렀을 시, 메세지
      & #radioNmsg {
        // 라디오 버튼 + 텍스트
        & #radioSelectGroup {
          display: flex;
          & .radioBox {
            margin-right: 32px;
            display: flex;
            align-items: center;

            & input[type="radio"] {
              display: none;
            }

            & input[type="radio"] + .radioDefault {
              display: inline-block;
              width: 16px;
              height: 16px;
              background: url("../static/radio_default.png") no-repeat 100%/16px;
            }

            & input[type="radio"]:hover + .radioDefault {
              background: url("../static/radio_hover.png") no-repeat 100%/16px;
            }

            & input[type="radio"]:checked + .radioDefault {
              background: url("../static/radio_checked.png") no-repeat 100%/16px;
            }

            & label {
              margin-left: 8px;
            }
          }
        }

        // 선택3 눌렀을 시, 메세지
        & #radio3SelectMsg {
          margin-top: 12px;
          & span {
            font-size: 12px;
            color: #F03738;
          }
        }
      }
    }
  }
}

#submitBox {
  width: 943px;
  margin: 16px 40px 0px 297px;
  display: flex;
  justify-content: flex-end;

  & button {
    width: 74px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #024eee;
    color: #fff;
    cursor: pointer;
  }

  & button:hover {
    background-color: #003ad6;
  }
}
