#menu {
  width: 256px;
  height: 100%;
  box-sizing: border-box;
  padding-top: 20px;
  background-color: #f6f7f8;
  float: left;
  border-right: 1px solid #e0e4e8;

  & #menuGroup {
    cursor: pointer;
    & div {
      width: 100%;
      height: 36px;
      line-height: 36px;
    }

    & .largeMenu {
      font-weight: 500;
      box-sizing: border-box;
      padding-left: 28px;
      padding-right: 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & img {
        width: 18px;
        height: 18px;
      }
    }
    & .activeMenu {
      background-color: #E0E4E8;
    }

    & .smallMenu {
      font-weight: 300;
      box-sizing: border-box;
      padding-left: 40px;
      color: #777777;
    }
    & .smallMenu:hover, .largeMenu:hover {
      background-color: #F0F2F3;
    }

  }

  // 두 개의 대메뉴 간격
  & #paragraphDivision {
    width: 100%;
    height: 12px;
  }
}
